#banner {
    height: 350px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

h4 {
    color: rgb(120, 120, 120);
    margin-bottom: 4px;
}