<!DOCTYPE html>
<html>
  <head>
    <title>Event Job Access</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
    
  </head>
  <body>
    <div class="container">
     <h1 class="text-center mt-2 mb-4">EveMan Job Openings</h1>
      <img class="img-fluid" id ="banner" src = "http://127.0.0.1:5000/static/pic1.jpg"  >
      <h2 class="text-center mt-2 mb-4">About EveMan</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p class="bodytext"> TODO -Show the jobs here</p>

      <div class="text-center">
        <button class="btn btn-primary btn-lg"> Contact Us</button>

        <p class="mt-4">Copyright 2022, EveMan</p>
      </div>
      
    </div>


  </body>  
</html>

